<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Devtools_tools">
            <directory>./test/Tool</directory>
        </testsuite>
        <testsuite name="Devtools_zend">
            <directory>./test/Zend</directory>
        </testsuite>
    </testsuites>
</phpunit>
